body {
  font-size: 13px;
}

.navbar-inner {
  background-color: #d0e02b;
  background-image: -moz-linear-gradient(top, #c2d221, #d0e02b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c2d221), to(#d0e02b));
  background-image: -webkit-linear-gradient(top, #c2d221, #d0e02b);
  background-image: -o-linear-gradient(top, #c2d221, #d0e02b);
  background-image: linear-gradient(to bottom, #c2d221, #d0e02b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc2d221', endColorstr='#ffd0e02b', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 133px;
} 

.navbar-fixed-top .navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-fixed-top {
  position: relative;
  top: 0;
}

body {
  padding-top: 0;
}

body.toolbar-drawer {
  padding-top: 0 !important;
}

.block-custom-search-blocks,
nav .block-menu {
  text-align: right;
  width: 100%;
}

.navbar .nav {
  float: right;
}

.navbar .logo.pull-left {
  float: none;
}

.region-header {
  height: 19px;
}

#page-header {
  background-color: #d0e02b;
  margin: 20px 0;
  padding: 11px 10px;
  webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

#block-system-main-menu .nav a,
#block-menu-menu-third-menu .nav a {
  color: #000;
  display: inline;
  font-weight: bold;
}

#block-system-main-menu .nav a:hover,
#block-menu-menu-third-menu .nav a:hover {
  background: transparent;
}

.nav > li > a {
  display: inline;
}


#block-system-main-menu > ul > li,
#block-menu-menu-third-menu > ul > li {
  float: left;
  margin-right: 38px;
}

#block-system-main-menu {
  float: left;
  width: 66%;
}

#block-menu-menu-third-menu {
  float: right;
  width: 33%;
}

.navbar-fixed-top .container {
  position: relative;
}

.navbar .logo {
  left: 0;
  position: absolute;
  top: 33px;
  z-index: 50;
}

.nav .dropdown-toggle .caret {
  margin-top: 10px;
}

.dropdown-menu {
  left: -10px;
  top: 30px;
}

.dropdown .caret {
  margin-left: 6px;
}

#block-system-main-menu .dropdown.open > a {
  color: #e06720;
}

.nav .dropdown-toggle .caret,
.nav .dropdown-toggle:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

#block-system-main-menu .open > .dropdown-menu a {
  color: #333;
  font-weight: normal;
}

#block-system-main-menu .open > .dropdown-menu li {
  height: 24px;
  line-height: 24px;
}

#block-system-main-menu .open > .dropdown-menu li:hover {
  background: #de6820;
}

#block-system-main-menu .open > .dropdown-menu li:hover a {
  color: #fff;
  font-weight: bold;
}

.dropdown-menu li > a {
  padding: 3px 15px;
}

h2,
h2 a {
  color: #46555a;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
}

a {
  color: #1f9dd8;
  text-decoration: none !important;
}

a:hover {
  color: #e67937;
  text-decoration: none !important;
}

.pane-node {
  color: #46555a;
  line-height: 16px;
}

.pane-node p {
  margin: 0;
}

.pane-node.actual-projects {
  background: url('../images/actual-projects-bg.png') no-repeat 0 0;
  background-size: 100% auto;
  min-height: 533px;
  padding: 14px;
  padding-top: 10px;
  position: relative;
  z-index: 50;
}

.pane-node.actual-projects h2 {
  margin-bottom: 23px;
  margin-top: 5px;
}

.pane-node.actual-projects h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin: 0 0 5px 0;
}

.pane-blogentries h3 {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.pane-blogentries .views-row {
  margin-bottom: 5px;
}

.pane-archive ul {
  margin: 0;
}

.pane-archive li {
  list-style: none;
}

.pane-tagclouds-1 .pane-content {
  line-height: 24px;
}

.mailchimp-newsletter-wrapper .form-type-item > .controls,
.mailchimp-newsletter-wrapper .control-label {
  display: none;
}

.pane-mailchimp-lists-open-source-software .pane-content {
  margin-top: -7px;
}

.mailchimp-newsletter-wrapper input[type=text] {
  color: #333;
  font-size: 13px;
  margin-bottom: 0;
  width: 95%;
}

.mailchimp-lists-user-subscribe-form {
  margin-bottom: 5px;
}

.mailchimp-lists-user-subscribe-form button.btn {
  margin-top: -2px;
}

.btn-primary {
  color: #ffffff;
  text-shadow: none;
  background-color: #499ebf;
  background-image: none;
  border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #418ba7;
}

.btn {
  font-size: 13px;
}

.pane-menu-menu-services a {
  font-weight: bold;
  line-height: 18px;
}

.pane-menu-menu-services a:hover,
.pane-menu-menu-services li:hover,
.pane-menu-menu-blog-kategorier a:hover,
.pane-menu-menu-blog-kategorier li:hover {
  background: transparent !important;
}

.node-type-basic-page {
  color: #4e5c61;
  line-height: 18px;
}

.node-type-basic-page .rounded-corner {
  margin-bottom: 15px;
}

.breadcrumb {
  background: #e8e7e7;
  display: none;
}

.pane-menu-menu-blog-kategorier .pane-title,
.panels-flexible-region-left_center-center .pane-title {
  margin-bottom: 18px;
}

.pane-menu-menu-blog-kategorier a {
  font-weight: bold;
  line-height: 14px;
}

.pane-menu-menu-blog-kategorier li {
  float: left;
}

.pane-menu-menu-blog-kategorier li a {
  border-radius: 5px;
  color: #fff;
  display: block;
  height: 25px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 8px;
  margin-right: 10px;
  padding: 0 10px;
  background: #499ebf;
}

.pane-menu-menu-blog-kategorier li a.active {
  background: #f0752b;
}

.pane-menu-menu-blog-kategorier li a.active:hover {
  background: #d86926 !important;
}

.pane-menu-menu-blog-kategorier li a:hover {
  background: #418ba7 !important;
}

.pane-menu-menu-blog-kategorier li a {
  color: #fff;
}

.pane-menu-menu-blog-kategorier ul {
  margin-bottom: 0;
}

.pane-yammer-feeds-yammer-feeds .pane-title {
  background: #818924;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  margin-top: 15px;
  background: #818924;
  background: -moz-linear-gradient(left,  #818924 0%, #b9c15c 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#818924), color-stop(100%,#b9c15c));
  background: -webkit-linear-gradient(left,  #818924 0%,#b9c15c 100%);
  background: -o-linear-gradient(left,  #818924 0%,#b9c15c 100%);
  background: -ms-linear-gradient(left,  #818924 0%,#b9c15c 100%);
  background: linear-gradient(to right,  #818924 0%,#b9c15c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#818924', endColorstr='#b9c15c',GradientType=1 );
}

body.toolbar-drawer.logged-in .navbar-fixed-top {
  margin-top: 66px;
  position: inherit;
  z-index: 0;
}

#block-menu-menu-secondary-menu {
  clear: both;
}


.block-custom-search-blocks .search-form > div {
  background: url('../images/ting-bg.png') no-repeat right 14px;
  float: right;
  height: 38px;
  margin-top: -20px;
  padding-top: 56px;
  width: 250px;
}

.block-custom-search-blocks .custom-search-box {
  border-radius: 20px;
  float: left;
  font-size: 13px;
  width: 180px;
}

.block-custom-search-blocks .control-group {
  margin-bottom: 0;
}

.block-custom-search-blocks button.btn {
  margin: 0;
}

#block-menu-menu-secondary-menu .nav {
  margin: 0;
}

#block-menu-menu-secondary-menu .nav a {
  color: #1f9dd8;
  font-weight: bold;
  padding: 0 0 0 20px;
  text-shadow: none;
}

.yammer-login .pane-content a {
  background: url('../images/login-bg.png') no-repeat 0 0;
  background-size: 100% auto;
  display: block;
  height: auto;
  min-height: 80px;
  text-indent: -9000px;
  width: 100%;
  
}

.panels-flexible-region-servicepages-toleft .pane-blogentries .pane-title {
  display: none;
}

.panels-flexible-region-servicepages-toleft .pane-blogentries h3 a {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.panels-flexible-region-servicepages-toleft .pane-blogentries .views-field-body {
  line-height: 18px;
}

.panels-flexible-region-servicepages-toleft .pane-blogentries .views-field-body p {
  margin: 0;
}

.panels-flexible-region-servicepages-toleft .pane-blogentries .views-row {
  border-bottom: 4px solid #d0e02b;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.blog-category .panels-flexible-left_center {
  padding-top: 35px;
  position: relative;
}

.node-type-blog .panels-flexible-blog_entry,
.page-blog .panels-flexible-servicepages {
  padding-top: 35px;
  position: relative;
}

.node-type-blog .pane-menu-menu-blog-kategorier,
.page-blog .pane-menu-menu-blog-kategorier,
.blog-category .pane-menu-menu-blog-kategorier {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.page-blog .pane-menu-menu-blog-kategorier {
  top: -45px;
}

.footer {
  background: #f2f1f1;
  border: none;
  padding: 20px 10px;
}

.region-footer {
  border-top: 4px solid #d0e02b;
  padding-top: 20px;
}

.footer .block-title {
  display: none;
}

.footer section {
  float: left;
  margin-right: .3em;
  width: 33%;
}

.dbc-logo {
  background: url('../images/dbc-logo.png') no-repeat 0 0;
  display: block;
  height: 22px;
  text-indent: -9000px;
  width: 92px;
}

.page-search ol {
  margin: 0;
}

.page-search ol li {
  list-style: none;
}

.page-search .pane-search-result h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin: 0;
}

.page-search .pane-search-result h3 a {
  color: #000;
}

.page-search .pane-search-result li {
  border-bottom: 4px solid #d0e02b;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
